html {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }
  *:before, *:after {
    box-sizing: inherit; }

html {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }
  *::after, *::before {
    box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  color: #dac744;
  background-color: #631A86;
  font-family: 'Inconsolata', monospace;
  font-size: 16px; }

ul {
  padding-left: 0;
  list-style: none; }

img {
  align-self: center;
  max-width: 100%; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: color .3s, border .3s; }
  a:hover {
    color: #fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

p {
  margin: 0; }

.full-screen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100; }
  .full-screen-bg_vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.content {
  width: 100%; }
  .content-grid {
    display: flex;
    justify-content: space-between; }
    .content-grid_item {
      flex-basis: 50%; }
    .content-grid-row {
      display: flex;
      justify-content: flex-end; }
    .content-grid-row * + * {
      margin: 0 0 0 1rem; }

.left-column_item .title {
  font-size: 7rem;
  z-index: 1000;
  border-top: 10px solid transparent;
  transform: rotate(90deg) translate(40%, 175%); }
  .left-column_item .title:hover {
    border-top: 10px solid #fff;
    text-decoration: underline; }
  @media only screen and (max-width: 600px) {
    .left-column_item .title {
      font-size: 4rem;
      transform: rotate(90deg) translate(30%, 30%); } }

.left-column_item .left-image {
  max-width: 12rem; }

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .right-column-item {
    margin: 1rem 0; }
    .right-column-item_icon {
      font-size: 2rem; }

.zoom-photo {
  max-width: 50vw;
  width: 20vw;
  cursor: pointer;
  transition: all 1s ease-in-out; }
  @media only screen and (max-width: 1000px) {
    .zoom-photo {
      width: 40vw; } }
  .zoom-photo.zoomed {
    width: 50vw;
    max-width: 50vw; }
    @media only screen and (max-width: 1000px) {
      .zoom-photo.zoomed {
        width: 75vw;
        max-width: 75vw; } }
    @media only screen and (max-width: 600px) {
      .zoom-photo.zoomed {
        width: 90vw;
        max-width: 90vw; } }

.footer {
  display: flex;
  justify-content: flex-end; }
  .footer-img {
    max-width: 12rem; }
  .footer-img.right {
    max-width: 10rem;
    position: absolute;
    bottom: 0;
    right: 0; }

.left-column {
  display: flex;
  flex-direction: column; }

.section {
  padding: 1rem; }
